{% if cats_disp %}
    <div class="nav-list-breadcrumb">
        <a class="nav-list-breadcrumb-main-link" href="[unas_shop_url]/sct/0/" aria-label="{{ text.main_category }}"></a>
        <a class="nav-list-parent-link" href="{{ parent_link }}">{{ parent_name }}</a>
    </div>
    <div class="nav-list-sub-btn-back-wrap">
        <button class="nav-list-sub-btn-back btn btn--back" type="button" data-belongs-to-level="{{ level - 1 }}" onclick="catBack(this);">{{ text.button_back }}</button>
    </div>
    <ul class="nav-list-mobile nav-list-sub nav-list-mobile--{{ level }}" data-level="{{ level }}">
        {% for cat_item in cat_list %}
        <li id="nav-item-{{ cat_item.id }}--m" class="nav-item nav-item-{{ cat_item.id }} js-nav-item-{{ cat_item.id }}">
            <a class="nav-link" href="{{ cat_item.url }}"{% if cat_item.target_blank %} target="_blank"{% endif %}
                aria-label="{{ cat_item.name }} {{ text.category }}{% if cat_item.product_count_disp %} ({{ cat_item.product_count }} {{ text.piece }} {{ text.product }}){% endif %}"
            >
                <span class="nav-link__text">
                {{ cat_item.name }}{% if cat_item.product_count_disp %}&nbsp;<span class="nav-item__count round-bracket-around">{{ cat_item.product_count }}</span>{% endif %}
                </span>
            </a>
            {% if cat_item.cat_sub_exists %}
            <button class="btn btn-text nav-button" type="button" data-toggle="dropdown" aria-label="{{  text.more_categories }}" aria-haspopup="true" aria-expanded="false" onclick="handleSub2(this,'{{ cat_item.id }}','{{ cat_item.cat_sub_ajax_url }}');"></button>
            {% endif %}

            {% if cat_item.cat_sub_exists %}
            <div class="nav-list-menu nav-list-menu--sub">
                <div class="loading-spinner"></div>
                {% if cat_item.cat_sub_disp %}{{ cat_item.cat_sub_list }}{% endif %}
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}
