<div id="page_saved_cards_content" class="page_content">
    <div class="main__title main__title--profile">
        <div class="container">
            <div class="main-title-wrapper d-flex flex-wrap align-items-center">
                <h1 class="mb-0 mr-3"><span class="main-title main-title--profile">{{ text.profile }}</span></h1>
                <a class="order-track__logout-btn btn btn-primary ml-auto" id="tab-logout" rel="logout" href="{{ tab_logout_url }}">{{ text.logout }}</a>
            </div>
        </div>
    </div>

    {% if tabs_disp %}
    <div id="nav-tab-accordion-1" class="nav-tabs-accordion">
        <div class="nav-tabs-container nav-tabs-outer--2 container">
            <ul class="nav nav-tabs saved-cards-tabs" role="tablist">
                {% if tab_orders_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-orders" rel="orders" href="{{ tab_orders_url }}">{{ text.orders }}</a></li>
                {% endif %}

                {% if tab_subscriptions_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-subscriptions" rel="subscriptions" href="{{ tab_subscriptions_url }}">{{ text.subscriptions }}</a></li>
                {% endif %}

                {% if tab_discount_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-discount" rel="discount" href="{{ tab_discount_url }}">{{ text.discounts }}</a></li>
                {% endif %}

                {% if tab_favourites_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-favourites" rel="favourites" href="{{ tab_favourites_url }}">{{ text.favourites }}</a></li>
                {% endif %}

                {% if tab_saved_filters_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-saved_filters" rel="saved_filters" href="{{ tab_saved_filters_url }}">{{ text.saved_filters }}</a></li>
                {% endif %}

                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" aria-selected="true" aria-expanded="true" id="tab-saved_cards" rel="saved_cards" href="#">{{ text.saved_cards }}</a></li>

                {% if tab_saved_delivery_points_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-saved_delivery_points" rel="saved_delivery_points" href="{{ tab_saved_delivery_points_url }}">{{ text.saved_delivery_points }}</a></li>
                {% endif %}

                {% if tab_customer_addresses_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-ustomer_addresses" rel="customer_addresses" href="{{ tab_customer_addresses_url }}">{{ text.customer_addresses }}</a></li>
                {% endif %}

                {% if tab_modify_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-reg" rel="reg" href="{{ tab_modify_url }}">{{ text.data_modify }}</a></li>
                {% endif %}

                <li class="nav-item d-none" role="presentation"><a class="nav-link" role="tab" id="tab-logout" rel="logout" href="{{ tab_logout_url }}">{{ text.logout }}</a></li>
            </ul>
        </div>
        <div class="tab-panes pane-accordion container">
            {% if tab_orders_disp %}
            <div class="pane-header" id="pane-header-orders">
                <a id="accordion-btn-orders" href="{{ tab_orders_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-orders">
                    {{ text.orders }}
                </a>
            </div>
            {% endif %}

            {% if tab_subscriptions_disp %}
            <div class="pane-header" id="pane-header-subscriptions">
                <a id="accordion-btn-subscriptions" href="{{ tab_subscriptions_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-subscriptions">
                    {{ text.subscriptions }}
                </a>
            </div>
            {% endif %}

            {% if tab_discount_disp %}
            <div class="pane-header" id="pane-header-discount">
                <a id="accordion-btn-discount" href="{{ tab_discount_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-discount">
                    {{ text.discounts }}
                </a>
            </div>
            {% endif %}

            {% if tab_favourites_disp %}
            <div class="pane-header" id="pane-header-favourites">
                <a id="accordion-btn-favourites" href="{{ tab_favourites_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-favourites">
                    {{ text.favourites }}
                </a>
            </div>
            {% endif %}

            {% if tab_saved_filters_disp %}
            <div class="pane-header" id="pane-header-saved_filters">
                <a id="accordion-btn-saved_filters" href="{{ tab_saved_filters_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-saved_filters">
                    {{ text.saved_filters }}
                </a>
            </div>
            {% endif %}

            <div class="pane-header" id="pane-header-saved_cards">
                <a id="accordion-btn-saved_cards" href="#" onclick="return false;" class="pane-header-btn btn active" aria-expanded="true" aria-controls="pane-saved_cards">
                    {{ text.saved_cards }}
                </a>
            </div>
            <div class="tab-pane fades saved_cards active show always-visible" id="pane-saved_cards" role="tabpanel" aria-labelledby="pane-header-saved_cards">
                <div class="tab-pane__container container saved_cards__content mb-5">
    {% endif %}

                    {% if not tabs_disp %}
                        <section class="new-cust mb-4">
                            <div class="container">
                    {% endif %}

                        <div class="saved-cards__container">
                            <div class="saved-cards__container-inner">
                                <div class="saved-cards-grid">
                                    {% for saved_card in saved_cards %}
                                        {% embed common_vars.layout_urls.embed_saved_card_1 %}{% endembed %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="no_saved_cards{% if saved_card_exists %} d-none{% endif %} alert alert-info icon--b-info" role="alert">{{ text.no_saved_cards }}</div>

                    {% if not tabs_disp %}
                            </div>
                        </section>
                    {% endif%}

    {% if tabs_disp %}
                </div>
            </div>

            {% if tab_saved_delivery_points_disp %}
            <div class="pane-header" id="pane-header-saved_delivery_points">
                <a id="accordion-btn-saved_delivery_points" href="{{ tab_saved_delivery_points_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-saved-delivery_points">
                    {{ text.saved_delivery_points }}
                </a>
            </div>
            {% endif %}

            {% if tab_customer_addresses_disp %}
            <div class="pane-header" id="pane-header-customer_addresses">
                <a href="{{ tab_customer_addresses_url }}" id="accordion-btn-customer_addresses" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-customer_addresses">
                    {{ text.customer_addresses }}
                </a>
            </div>
            {% endif %}

            {% if tab_modify_disp %}
            <div class="pane-header" id="pane-header-reg">
                <a href="{{ tab_modify_url }}" id="accordion-btn-reg" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-reg">
                    {{ text.data_modify }}
                </a>
            </div>
            {% endif %}

            <div class="pane-header d-none" id="pane-header-logout">
                <a id="accordion-btn-logout" href="{{ tab_logout_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-logout">
                    {{ text.logout }}
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{# EMBED TAB SCRIPT #}
{% set tab_default = 'saved_cards' %}
{% set custom_tab_scroll_enabled = true %}
{% embed common_vars.layout_urls.embed_tab_script_1 %}{% endembed %}