<div id="page_customer_addresses_content" class="page_content">
    <div class="main__title">
        <div class="container">
            <div class="main-title-wrapper d-flex flex-wrap align-items-center">
                <h1 class="mb-0 mr-3"><span class="main-title">{{ text.profile }}</span></h1>
                {% if tabs_disp %}<a class="reg__logout-btn btn btn-primary ml-auto" id="tab-logout" rel="logout" href="{{ tab_logout_url }}">{{ text.logout }}</a>{% endif %}
            </div>
        </div>
    </div>

    {% if tabs_disp %}
    <div id="nav-tab-accordion-1" class="nav-tabs-accordion">
        <div class="nav-tabs-container nav-tabs-outer--2 container">
            <ul class="nav nav-tabs saved-cards-tabs" role="tablist">
                {% if tab_orders_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-orders" rel="orders" href="{{ tab_orders_url }}">{{ text.orders }}</a></li>
                {% endif %}

                {% if tab_subscriptions_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-subscriptions" rel="subscriptions" href="{{ tab_subscriptions_url }}">{{ text.subscriptions }}</a></li>
                {% endif %}

                {% if tab_discount_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-discount" rel="discount" href="{{ tab_discount_url }}">{{ text.discounts }}</a></li>
                {% endif %}

                {% if tab_favourites_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-favourites" rel="favourites" href="{{ tab_favourites_url }}">{{ text.favourites }}</a></li>
                {% endif %}

                {% if tab_saved_filters_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-saved_filters" rel="saved_filters" href="{{ tab_saved_filters_url }}">{{ text.saved_filters }}</a></li>
                {% endif %}

                {% if tab_saved_cards_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-saved_cards" rel="saved_cards" href="{{ tab_saved_cards_url }}">{{ text.saved_cards }}</a></li>
                {% endif %}

                {% if tab_saved_delivery_points_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-saved_delivery_points" rel="saved_delivery_points" href="{{ tab_saved_delivery_points_url }}">{{ text.saved_delivery_points }}</a></li>
                {% endif %}

                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" aria-selected="true" aria-expanded="true" id="tab-customer_addresses" rel="customer_addresses" href="#">{{ text.customer_addresses }}</a></li>

                {% if tab_modify_disp %}
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" id="tab-reg" rel="reg" href="{{ tab_modify_url }}">{{ text.data_modify }}</a></li>
                {% endif %}

                <li class="nav-item d-none" role="presentation"><a class="nav-link" role="tab" id="tab-logout" rel="logout" href="{{ tab_logout_url }}">{{ text.logout }}</a></li>
            </ul>
        </div>
        <div class="tab-panes pane-accordion container">
            {% if tab_orders_disp %}
                <div class="pane-header" id="pane-header-orders">
                    <a id="accordion-btn-orders" href="{{ tab_orders_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-orders">
                        {{ text.orders }}
                    </a>
                </div>
            {% endif %}

            {% if tab_subscriptions_disp %}
                <div class="pane-header" id="pane-header-subscriptions">
                    <a id="accordion-btn-subscriptions" href="{{ tab_subscriptions_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-subscriptions">
                        {{ text.subscriptions }}
                    </a>
                </div>
            {% endif %}

            {% if tab_discount_disp %}
                <div class="pane-header" id="pane-header-discount">
                    <a id="accordion-btn-discount" href="{{ tab_discount_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-discount">
                        {{ text.discounts }}
                    </a>
                </div>
            {% endif %}

            {% if tab_favourites_disp %}
                <div class="pane-header" id="pane-header-favourites">
                    <a id="accordion-btn-favourites" href="{{ tab_favourites_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-favourites">
                        {{ text.favourites }}
                    </a>
                </div>
            {% endif %}

            {% if tab_saved_filters_disp %}
                <div class="pane-header" id="pane-header-saved_filters">
                    <a id="accordion-btn-saved_filters" href="{{ tab_saved_filters_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-saved_filters">
                        {{ text.saved_filters }}
                    </a>
                </div>
            {% endif %}

            {% if tab_saved_cards_disp %}
                <div class="pane-header" id="pane-header-saved_cards">
                    <a id="accordion-btn-saved_cards" href="{{ tab_saved_cards_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-saved-cards">
                        {{ text.saved_cards }}
                    </a>
                </div>
            {% endif %}

            {% if tab_saved_delivery_points_disp %}
            <div class="pane-header" id="pane-header-saved_delivery_points">
                <a id="accordion-btn-saved_delivery_points" href="{{ tab_saved_delivery_points_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-saved-delivery_points">
                    {{ text.saved_delivery_points }}
                </a>
            </div>
            {% endif %}

            <div class="pane-header" id="pane-header-customer_addresses">
                <a href="#" onclick="return false;" id="accordion-btn-customer_addresses" class="pane-header-btn btn active" aria-expanded="true" aria-controls="pane-customer_addresses">
                    {{ text.customer_addresses }}
                </a>
            </div>

            <div class="tab-pane fades customer_addresses active show always-visible" id="pane-customer_addresses" role="tabpanel" aria-labelledby="pane-header-customer_addresses">
                <div class="tab-pane__container container customer_addresses__content mb-5">
                    {% endif %}

                    <div class="customer-addresses__container">
                        <div class="customer-addresses__container-inner">
                            <div class="row mb-5 row-gap-20">
                                {% set grid = "col-md-6 col-xl-4 col-xxl-3" %}

                                {% for address in addresses %}
                                    {% embed common_vars.layout_urls.embed_customer_address_card_1 %}{% endembed %}
                                {% endfor %}
                            </div>
                            <div class="customer-addresses__buttons d-flex flex-wrap gap-10">
                                <a class="btn btn--back" href="{{ profile_link }}">{{ text.data_modify }}</a>
                                <a class="btn btn-primary icon--a-location-plus" href="{{ create_link }}">{{ text.new_address }}</a>
                            </div>
                        </div>
                    </div>

                    {% if tabs_disp %}
                </div>
            </div>

            {% if tab_modify_disp %}
                <div class="pane-header" id="pane-header-reg">
                    <a href="{{ tab_modify_url }}" id="accordion-btn-reg" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-reg">
                        {{ text.data_modify }}
                    </a>
                </div>
            {% endif %}

            <div class="pane-header d-none" id="pane-header-logout">
                <a id="accordion-btn-logout" href="{{ tab_logout_url }}" class="pane-header-btn btn" aria-expanded="false" aria-controls="pane-logout">
                    {{ text.logout }}
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{# EMBED TAB SCRIPT #}
{% set tab_default = 'customer_addresses' %}
{% set custom_tab_scroll_enabled = true %}
{% embed common_vars.layout_urls.embed_tab_script_1 %}{% endembed %}