<div id="page_art_content" class="page_content">
    {% include common_vars.layout_urls.embed_custom_content_top_1 %}

    [% if filterExists == "1" and filter_button_position_with_three_settings == "2" %]
    {% embed common_vars.layout_urls.embed_filter_bar_1 %}{% endembed %}
    [% endif %]

    [% set inner_content %]
        {% if no_product %}
            {% if search_complex_disp %}
            <div class="container empty-category container-max-md mb-5">
                <div class="no-product alert alert-info icon--b-info" role="alert">{{ text.no_product_in_category }}</div>
            </div>
            {% else %}
            <div class="product-list-wrapper">
                <div class="container">
                    <div class="no-product alert alert-info icon--b-info" role="alert">{{ text.no_product }}</div>
                </div>
            </div>
            {% endif %}
        {% endif %}

        {{ product_list }}

        {% if search_complex_disp %}
        <div class="empty-category-search mb-5">
            <div class="container-max-md">
                {{ search_complex }}
            </div>
        </div>
        {% endif %}
    [% endset %]

    [% if filterExists != '1' %]
        [[ inner_content ]]
    [% else %]
        [% if filter_box_in_sidebar == "0" %]
        [[ inner_content ]]
        [% else %]
            {% embed common_vars.layout_urls.embed_filter_sidebar_1 %}
                {% block rest_content %}[[ inner_content ]]{% endblock %}
            {% endembed %}
        [% endif %]
    [% endif %]

    {% include common_vars.layout_urls.embed_custom_content_bottom_1 %}
</div>
<script>
    $(document).ready(function(){
        $('.read-more:not(.is-processed)').each(readMoreOpener);
    });
</script>