<div id="page_cat_content" class="page_content cat--type-3">
    {% if tags_disp %}
    <section class="tag-filtering" aria-label="{{ text.category }} {{ text.filter }}">
        <div class="container">
            {% set tag_include_type = "category" %}
            {% include common_vars.layout_urls.embed_tag_filter_1 %}
        </div>
    </section>
    {% endif %}

    {% if product_count_disp %}
    <section class="cat-artnum">
        <div class="container">
            <span class="cat-artnum__text icon--b-info">{{ shopname_title }}</span>
            <span class="cat-artnum__num font-weight-bold">{{ product_count }} {{ text.pcs }}</span>
        </div>
    </section>
    {% endif %}

    {% include common_vars.layout_urls.embed_custom_content_top_1 %}

    <section class="categories" aria-label="{{ text.categories }}">
        <div class="container">
            <div class="d-flex flex-wrap gap-5 gap-sm-10" role="list">
                {% for cat in cat_spec_list if cats_spec_disp %}
                <div role="listitem"  class="category-card category-card--spec spec-category-{{ cat.id }}">
                    <a class="category-card__inner" href="{{ cat.url }}" aria-label="{{ cat.name }} {{ text.category }}{% if cat.product_count_disp %} ({{ cat.product_count }} {{ text.piece }} {{ text.product }}){% endif %}">
                        <span class="category-card__name">{{ cat.name }}</span>
                        {% if cat.product_count_disp %}
                        <span class="category-card__qty-wrap round-bracket-around">
                            <span class="category-card__qty" data-text="{{ text.product }}">{{ cat.product_count }}</span>
                        </span>
                        {% endif %}
                    </a>
                </div>
                {% endfor %}

                {% for cat in cats_list if cats_disp %}
                <div role="listitem"  class="category-card category-card--normal category-card-{{ cat.id }}{% if tags_disp %} js-filterable{% endif %}{% if cat.tag_list_disp %} {{ cat.tag_list }}{% endif %}">
                    <a class="category-card__inner" href="{{ cat.url }}" {% if cat.target_blank %} target="_blank"{% endif %}
                        aria-label="{{ cat.name }} {{ text.category }}
                        {%- if cat.product_count_disp or product_new_count_disp %} (
                        {%- if cat.product_count_disp %}{{ cat.product_count }} {{ text.piece }} {{ text.product }}{% endif -%}
                        {%- if cat.product_new_count_disp %}{{ cat.product_new_count }} {{ text.piece }} {{ text.status_new }} {{ text.product -}}{% endif -%}
                        ){% endif %}"
                    >
                        <span class="category-card__name">{{ cat.name }}</span>
                        {% if not cat.alt_url_exists and ( cat.product_count_disp or product_new_count_disp) %}
                        <span class="category-card__qty-wrap round-bracket-around">
                            {% if cat.product_count_disp %}
                            <span class="category-card__qty" data-text="{{ text.product }}">{{ cat.product_count }}</span>
                            {% endif %}

                            {% if cat.product_new_count_disp %}
                            <span class="category-card__new">
                                <span class="category-card__new-qty">{{ cat.product_new_count }}</span>&nbsp;
                                <span class="category-card__new-text text-lowercase">{{ text.status_new }}</span>
                            </span>
                            {% endif %}
                        </span>
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% if retargeting_div_category_disp %}
    <section class="retargeting">
        <div class="container">
            {{ retargeting_div_category }}
        </div>
    </section>
    {% endif %}

    [% if filter_button_position_with_three_settings == "2" %]
    {% if filter_in_subcategory %}
        {% embed common_vars.layout_urls.embed_filter_bar_1 %}{% endembed %}
    {% endif %}
    [% endif %]

    [% set inner_content %]
    {{ product_list_script }}
    <div id="page_cat_artlist">
        {{ product_list }}
    </div>
    [% endset %]

    {% if product_list_disp %}
    <section class="category-product-list">
        {% if filter_in_subcategory %}
            [% if filter_box_in_sidebar == "1" %]
            {% embed common_vars.layout_urls.embed_filter_sidebar_1 %}
                {% block rest_content %}[[ inner_content ]]{% endblock %}
            {% endembed %}
            [% else %]
            [[ inner_content ]]
            [% endif %]
        {% else %}
            [[ inner_content ]]
        {% endif %}
    </section>
    {% endif %}

    {% include common_vars.layout_urls.embed_custom_content_bottom_1 %}
</div>