{% if element_disp %}
     {% if style_disp %}
        {% for slide in slides|slice(0,1) %}
          {% if slide.img_default_disp %}
            <style>
               .{{ name }}-img-wrapper {padding-top: calc({{ (slide.img_default_height / slide.img_default_width * 100) }}%);} .{{ name }}-img-container {max-width: {{ slide.img_default_width }}px;}
               {% if slide.img_large_disp %} @media (max-width: {{ common_vars.grid_breakpoints.lg - 0.02 }}px){ .{{ name }}-img-wrapper {padding-top: calc({{ (slide.img_large_height / slide.img_large_width * 100) }}%);} .{{ name }}-img-container {max-width: {{ slide.img_large_width }}px;} {% endif %}
               {% if slide.img_medium_disp %} @media (max-width: {{ common_vars.grid_breakpoints.md - 0.02 }}px){ .{{ name }}-img-wrapper {padding-top: calc({{ (slide.img_medium_height / slide.img_medium_width * 100) }}%);} .{{ name }}-img-container {max-width: {{ slide.img_medium_width }}px;} {% endif %}
               {% if slide.img_small_disp %} @media (max-width: {{ common_vars.grid_breakpoints.sm - 0.02 }}px){ .{{ name }}-img-wrapper {padding-top: calc({{ (slide.img_small_height / slide.img_small_width * 100) }}%);} .{{ name }}-img-container {max-width: {{ slide.img_small_width }}px;} {% endif %}
            </style>
          {% endif %}
        {% endfor %}
     {% else %}
        <div id="{{ name }}_img" class="js-element {{ name }}{% if class != '' %} {{ class }}{% endif %}" data-element-name="{{ name }}">
            <div class="{{ name }}-img-container abs-container">
                <div class="{{ name }}-img-wrapper abs-wrapper">
                {% for slide in slides %}
                    {% if slide.img_default_disp %}
                        {% if slide.img_link_disp %}<a href="{{ slide.img_link_url }}"{% if slide.target_blank %} target="_blank"{% endif %}>{% endif %}
                        <picture>
                            {% if slide.img_small_disp %}
                            <source width="{{ slide.img_small_width }}" height="{{ slide.img_small_height }}" media="(max-width: {{ common_vars.grid_breakpoints.sm - 0.02 }}px)" srcset="[unas_shop_url]/main_pic/space.gif" data-srcset="{{ slide.img_small_url }} 1x{% if slide.img_small_retina_disp %}, {{ slide.img_small_retina_url }} 2x{% endif %}" />
                            {% endif %}
                            {% if slide.img_medium_disp %}
                            <source width="{{ slide.img_medium_width }}" height="{{ slide.img_medium_height }}" media="(max-width: {{ common_vars.grid_breakpoints.md - 0.02 }}px)" srcset="[unas_shop_url]/main_pic/space.gif" data-srcset="{{ slide.img_medium_url }} 1x{% if slide.img_medium_retina_disp %}, {{ slide.img_medium_retina_url }} 2x{% endif %}" />
                            {% endif %}
                            {% if slide.img_large_disp %}
                            <source width="{{ slide.img_large_width }}" height="{{ slide.img_large_height }}" media="(max-width: {{ common_vars.grid_breakpoints.lg - 0.02 }}px)" srcset="[unas_shop_url]/main_pic/space.gif" data-srcset="{{ slide.img_large_url }} 1x{% if slide.img_large_retina_disp %}, {{ slide.img_large_retina_url }} 2x{% endif %}" />
                            {% endif %}
                            <source width="{{ slide.img_default_width }}" height="{{ slide.img_default_height }}" srcset="[unas_shop_url]/main_pic/space.gif" data-srcset="{{ slide.img_default_url }} 1x{% if slide.img_default_retina_disp %}, {{ slide.img_default_retina_url }} 2x{% endif %}" />
                            <img class="abs-element lazyload" width="{{ slide.img_default_width }}" height="{{ slide.img_default_height }}" src="[unas_shop_url]/main_pic/space.gif" data-src="{{ slide.img_default_url }}" alt="{% if slide.alt_disp %}{{ slide.alt }}{% else %}{{ service_name }}{% endif %}"/>
                        </picture>
                        {% if slide.img_link_disp %}</a>{% endif %}
                    {% else %}
                        {{ slide.html }}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
     {% endif %}
{% endif %}