<div class="cookie-alert cookie-alert-popup cookie_alert_5 overlay_common{% if close %} cookie-alert-closed{% endif %}" id="overlay_cookie_alert"
    role="dialog" aria-labelledby="cookie_alert_title" aria-describedby="cookie_alert_description" style="display:none;"
>
    <div class="cookie-alert__inner py-4">
        <div class="container text-left">
            <div>
                <div id="cookie_alert_title" class="cookie-alert__title font-weight-bold">{{ text.cookie_consent_settings }}</div>
                <div id="cookie_alert_description" class="cookie-alert__text font-s">{{ text.cookie_consent_text_1 }}</div>
            </div>
            <div class="py-3 px-md-4">
                <div class="cookie-alert__checkboxes" role="radiogroup" aria-labelledby="cookie_alert_title" style="display: none;">
                    <div class="custom-control form-check custom-checkbox mb-2">
                        <input aria-describedby="checkbox_working_description" class="custom-control-input form-check-input" type="checkbox" id="cookie_alert_checkbox_working" checked="checked" disabled="disabled" />
                        <label for="cookie_alert_checkbox_working" class="custom-control-label form-check-label font-weight-bold">{{ text.functional_cookies }}</label>
                        <div id="checkbox_working_description" class="font-s">{{ text.functional_cookies_details }}</div>
                    </div>
                    <div class="custom-control form-check custom-checkbox mb-2">
                        <input aria-describedby="checkbox_market_description" class="custom-control-input form-check-input" type="checkbox" id="cookie_alert_checkbox_marketing"{% if checkbox_marketing_checked %} checked="checked"{% endif %} value="1" />
                        <label for="cookie_alert_checkbox_marketing" class="custom-control-label form-check-label font-weight-bold">{{ text.marketing_cookies }}</label>
                        <div id="checkbox_market_description" class="font-s">{{ text.marketing_cookies_details }}</div>
                    </div>
                    <div class="custom-control form-check custom-checkbox mb-2">
                        <input aria-describedby="checkbox_stats_description" class="custom-control-input form-check-input" type="checkbox" id="cookie_alert_checkbox_statistics"{% if checkbox_statistics_checked %} checked="checked"{% endif %} value="1" />
                        <label for="cookie_alert_checkbox_statistics" class="custom-control-label form-check-label font-weight-bold">{{ text.statistics_cookies }}</label>
                        <div id="checkbox_stats_description" class="font-s">{{ text.statistics_cookies_details }}</div>
                    </div>
                    <div class="custom-control form-check custom-checkbox mb-2">
                        <input aria-describedby="checkbox_personalize_description" class="custom-control-input form-check-input" type="checkbox" id="cookie_alert_checkbox_personalization"{% if checkbox_personalization_checked %} checked="checked"{% endif %} value="1" />
                        <label for="cookie_alert_checkbox_personalization" class="custom-control-label form-check-label font-weight-bold">{{ text.personalization_cookies }}</label>
                        <div id="checkbox_personalize_description" class="font-s">{{ text.personalization_cookies_details }}</div>
                    </div>
                    {% if consent_date %}
                    <div class="cookie-alert__consent-data mt-3">
                        {% if consent_date %}<div>{{ text.cookie_consent_date }}: <b>{{ consent_date }}</b></div>{% endif %}
                        {% if consent_id %}<div>{{ text.cookie_consent_id }}: <b>{{ consent_id }}</b></div>{% endif %}
                    </div>
                    {% endif %}
                    <div class="cookie-alert__btn-save-wrap text-center mt-4">
                        <button class="cookie-alert__btn-set btn btn-primary icon--a-save" type="button">{{ text.button_cookie_allow_selected }}</button>
                    </div>
                </div>
            </div>
            <div class="cookie-alert__btn-set-wrap text-center">
                <button class="cookie-alert__btn-allow btn btn-primary icon--a-check m-2" type="button">{{ text.button_cookie_allow }}</button>
                <button class="cookie-alert__btn-decline btn btn-secondary icon--a-close m-2" type="button">{{ text.button_cookie_decline }}</button>
                <button class="cookie-alert__btn-config btn btn-link" type="button" aria-expanded="false">{{ text.button_settings }}</button>
            </div>
        </div>
    </div>
</div>
{% block close_btn %}{% endblock %}
<script>
    {% if not close %}
    $(document).on("overlayInited", function (e, response) {
        if (response.id == 'cookie_alert') {
            cookie_alert_overlay();
            console.log('cookie felugrasztása');
        }
    });
    {% endif %}
    $(document).ready(function(){
        overlay_init("cookie_alert",{})

        $(".cookie-alert__btn-set").on("click",function(){
            $('#overlay_cookie_alert').overlay().close();
            cookie_alert_action(1,(($('#cookie_alert_checkbox_marketing').prop('checked')==true)?1:0),(($('#cookie_alert_checkbox_statistics').prop('checked')==true)?1:0),(($('#cookie_alert_checkbox_personalization').prop('checked')==true)?1:0));
        });

        $(".cookie-alert__btn-decline").on("click",function(){
            $('#cookie_alert_checkbox_marketing').prop("checked",false);
            $('#cookie_alert_checkbox_statistics').prop("checked",false);
            $('#cookie_alert_checkbox_personalization').prop("checked",false);
            $('#overlay_cookie_alert').overlay().close();
            cookie_alert_action(1,0,0,0);
        });

        $(".cookie-alert__btn-allow").on("click",function(){
            $('#cookie_alert_checkbox_marketing').prop("checked",true);
            $('#cookie_alert_checkbox_statistics').prop("checked",true);
            $('#cookie_alert_checkbox_personalization').prop("checked",true);
            $('#overlay_cookie_alert').overlay().close();
            cookie_alert_action(1,1,1,1);
        });

        $(".cookie-alert__btn-open").show();
        $(".cookie-alert__btn-open").on("click",function(){
            $('.cookie-alert__btn-set-wrap').css('display','none');
            $('.cookie-alert__checkboxes').css("display","block");
            cookie_alert_overlay();
        });

        $(".cookie-alert__btn-config").on("click", function() {
            $('.cookie-alert__btn-set-wrap').slideToggle(300);
            const $this = $(this);
            $this.attr('aria-expanded', (_, attr) => (attr == 'false' ? 'true' : 'false'));
            $('.cookie-alert__checkboxes').slideToggle(300, function() {
                $this.trigger('openCookieConfig');
            });
        }).on('openCookieConfig', function() {
            requestAnimationFrame(() => {
                const $overlayCookieSetting = $('.cookie-alert__checkboxes');
                const $focusableElements = $overlayCookieSetting.find('button, input:not([disabled]), a[href]:not([href="#"]):not(.close)');

                if ($focusableElements.length === 0) {
                    return;
                }

                window.manageFocus?.("#overlay_cookie_alert", {
                    focusTo: $focusableElements.first(),
                });
            });
        });

        $(document).on("closeConsent", function () {
            window.announceToScreenReader?.('modalClose',{'label': `{{ text.cookie_consent_settings }}`});
        });
        $(document).on("grantConsent", function () {
            window.announceToScreenReader?.('grantConsent');
        });
        $(document).on("rejectConsent", function () {
            window.announceToScreenReader?.('rejectConsent');
        });
    });
</script>